* {
    box-sizing: 'border-box';
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2 {
    height: 200px;
    width: 200px;
    background-color: royalblue;
}

#box3 {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}