* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(lightblue, royalblue);
}