* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
    color: #fff
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100%;
    background-color: #090909;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    padding: 0 30px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

#main h1 {
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    position: relative;
    z-index: 9;
    width: 80%;
    margin-left: 10%;
}

#main h1:nth-child(2) {
    margin-top: 180px;
}

#main h1:nth-child(3) {
    text-align: center;
}

#main h1:nth-child(4) {
    text-align: end;
}

img {
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}

#img1 {
    rotate: 20deg
}

#img2 {
    rotate: 10deg
}